{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="alternate" type="application/rss+xml" title="atom 1.0" href="/feed">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="renderer" content="webkit"/>
    <title>{% if title %}{{title}}-{% endif %}eRic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/tomorrow.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/blog.css' %}" type="text/css" rel="stylesheet"/>

    {% block header_ext %}
    {% endblock %}

</head>
<body class="yue">
<div id="body_wrapper">


    <header style="background-image: url({% static 'image/sea.jpg'%})" class="header">
        <div class="header_wrapper">
            <a href="/">
                <h1 class="title">
                    eRic
                </h1>
            </a>
            <ul class="nav">
                <li><a href="/">Home</a>
                </li>
                <li><a href="{% url 'archive' %}">Archive</a>
                </li>
                <li><a href="{% url 'feed' %}">RSS</a>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'new_post' %}">+New</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div id="main">

        {% block main %}
        {% endblock %}
    </div>

    <footer id="footer">
        <div class="powered_by">
            <a href="https://www.farbox.com" target="_blank">Designed By FarBox.com</a>
            <a href="/">Written By eRic</a>
        </div>
    </footer>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>
    $(document).ready(function() {
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });
</script>
{% block footer_ext %}
{% endblock %}
</body>
</html>
