.default-transition, #main .post .title a, #main .post .info a, .pager a {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.yue img {
    display: block;
    max-width: 100%;
    margin: auto;
}
body {
    font-family: Georgia, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 1.6;
    background: #fdfdfd;
    -webkit-text-size-adjust: none;
    -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease;
    -moz-transition: margin 0.3s ease, -moz-transform 0.3s ease;
    transition: margin 0.3s ease, transform 0.3s ease;
    padding: 0;
    margin: 0;
}

b, strong {
    color: #222;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    margin: 1.2em 0;
}

li p {
    margin: 0;
}

ul, ol, dl {
    margin: 0.5em 0;
}

#body_wrapper .header {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 5em;
    text-align: center;
    color: #fff;
    background: #303538 no-repeat center center;
    background-size: cover;
}

#body_wrapper .header .header_wrapper {
    margin: 120px auto 135px auto;
}

#body_wrapper .header .header_wrapper h1 {
    padding: 0;
    margin: 0;
    font-size: 2.8em;
}

#body_wrapper .header .header_wrapper h1 a {
    letter-spacing: -1px;
    font-weight: normal;
    text-shadow: 2px 1px #555;
    color: #fff;
    text-decoration: none;
}

#body_wrapper .header .header_wrapper h1 a:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

#body_wrapper .header .header_wrapper .nav {
    list-style: none;
    display: block;
    text-align: center;
    clear: both;
    padding: 0;
}

#body_wrapper .header .header_wrapper .nav li {
    position: relative;
    display: inline-block;
    *display: inline;
}

#body_wrapper .header .header_wrapper .nav li a {
    color: #fff;
    font-size: 12px;
    margin: 0 1em;
    text-shadow: 1px 1px #333;
}

#body_wrapper .header .header_wrapper .nav li a:hover {
    text-decoration: underline;
}

#main {
    width: 80%;
    margin: 0 auto;
}

#main .list_with_title {
    padding: 0;
    margin: 35px auto 0 auto;
    font-size: 18px;
}

#main .list_with_title li {
    list-style-type: none;
    padding: 0;
}

#main .list_with_title .listing_title {
    font-weight: bold;
    line-height: 2.2em;
    font-size: 1.4em;
    color: #555;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#main .list_with_title .listing {
    margin: 0 0 50px 0;
    padding: 0;
}

#main .list_with_title .listing li {
    line-height: 3.2em;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 0 5px;
    text-align: left;
    font-weight: normal;
    *font-size: 18px;
}

#main .list_with_title .listing li a {
    color: #555;
    text-decoration: none;
}

#main .list_with_title .listing li a:hover {
    color: #000;
    text-shadow: 1px 1px #ddd;
}

#main .list_with_title .listing li:hover {
    background: #f9f9f9;
}

#main .list_with_title .date {
    position: absolute;
    right: 5px;
    color: #999999;
    font-size: 14px;
}

#main .posts, #main .detail_post {
    margin: 45px auto;
}

#main .detail_post .post {
    margin-bottom: 3em;
}

#main .post {
    margin: 0 auto 10em auto;
    font-size: 18px;
    line-height: 1.9;
    max-width: 910px;
}

#main .post .title {
    font-size: 2em;
    line-height: 1.2em;
    padding: 0.5em 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
    text-align: center;
}

#main .post .title a {
    color: #111;
}

#main .post .title:hover {
    background: #f9f9f9;
    text-shadow: 1px 1px #ccc;
}

#main .post .post_body a {
    border-bottom: 1px dashed #ccc;
}

#main .post .post_body a:hover {
    border-bottom: 1px solid #999;
}

#main .post .post_body h2 {
    margin: 1.6em 0 0.83em 0;
}

#main .post .post_body h3, #main .post .post_body h4 {
    margin: 1.2em 0 0.53em 0;
}

#main .post img {
    max-width: 100%;
}

#main .post h1, #main .post h2 {
    line-height: 1.25;
}

#main .post .info {
    font-family: 'Arial';
    color: #666;
    font-size: 0.7em;
    position: relative;
    text-align: right;
    margin-top: 35px;
    line-height: 2em;
}

#main .post .info a {
    font-size: 0.9em;
    padding: 2px;
    margin-right: 5px;
}

#main .post .info a:hover {
    color: white;
    text-decoration: none;
    background: #274b6c;
}

#main .post .info a:hover i {
    color: #fff;
}

#main .post .info span {
    margin-right: 20px;
}

#main .post .info .tags {
    display: inline-block;
    margin: 0 10px 0 0;
}

#main .post .info .read_more {
    margin-left: 10px;
}

#main .post .info .other_posts {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 2em 0;
    overflow: hidden;
    height: 5em;
    line-height: 5em;
    font-size: 1.6em;
    position: relative;
    display: block;
}

#main .post .info .other_posts .pre {
    position: absolute;
    text-align: left;
    width: 50%;
    left: 0;
    padding: 0 5px;
    border-right: 1px solid #eee;
}

#main .post .info .other_posts .next {
    position: absolute;
    text-align: right;
    width: 50%;
    right: 0;
    padding: 0 5px;
}

#main #categories {
    list-style: none;
    display: block;
    text-align: center;
    clear: both;
    padding: 0;
    margin-top: 50px;
}

#main #categories a {
    text-decoration: none;
}

#main #categories li {
    font-size: 18px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    text-align: left;
    position: relative;
}

#main #categories li h3 {
    font-size: 1.2em;
    word-wrap: break-word;
    overflow: hidden;
    font-weight: normal;
}

#main #categories li span {
    color: #999;
    font-size: 0.8em;
}

#main #categories li a {
    margin: 20px;
    width: 220px;
    float: left;
    height: 300px;
    background: #fff;
    border: 1px solid #c8c8c8;
    padding: 60px 30px;
}

#main #categories li a:hover {
    border: 1px solid #b7b7b7;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#main #categories li a:hover h3 {
    padding-left: 2px;
}

hr {
    margin: 2.2em 0;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}

#fb_new_comment input {
    font-size: 12px;
}

.toc {
    line-height: 1.7;
    border: 1px solid #eee;
}

.toc li ul {
    margin: 0;
    padding-top: 0;
}

.post-images {
    margin: 1em 0;
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

@media (max-width: 767px) {
    #body_wrapper .header .header_wrapper h1 {
        font-size: 2.5em;
    }

    #main {
        padding: 0 2.5em;
        width: 100%;
    }
}

@media (max-width: 480px) {
    #body_wrapper .header .header_wrapper h1 {
        font-size: 2.3em;
    }

    #main {
        padding: 0 1em;
    }
}

.clear {
    clear: both;
    width: 0;
    height: 0;
}

#footer {
    margin: 80px 0 30px 0;
    text-align: center;
    font-size: 11px;
    height: 1em;
    font-family: Arial;
    color: #ccc;
}

#footer a {
    color: #bdbdbd;
    margin: 0 10px;
}

#footer a:hover {
    text-decoration: none;
    color: #274b6c;
}

#footer a.admin {
    color: darkred;
    font-weight: bold;
}

#footer .powered_by {
    margin-bottom: 20px;
    text-align: center;
}

#footer .powered_by span {
    font-size: 9px;
    padding: 0 15px;
}

.round {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: block;
}

.pager {
    position: relative;
    height: 57px;
    margin: 50px 0 0 0;
}

.pager a {
    height: 57px;
    width: 57px;
    line-height: 57px;
    color: #333;
    letter-spacing: 1px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #d3d3d3;
}

.pager a:hover {
    color: #fff;
    background: #274b6c;
}

.pager .next {
    position: absolute;
    right: 0;
}

.pager .pre {
    position: absolute;
    left: 0;
}

#fb_comments_container {
    overflow: hidden;
    max-width: 910px;
    margin: 0 auto;
}

#fb_comments_container #fb_comments {
    list-style-type: none;
    padding: 0;
}

#fb_comments_container #fb_comments h1 {
    font-size: 1.3em;
}

#fb_comments_container #fb_comments h2 {
    font-size: 1.2em;
}

#fb_comments_container #fb_comments h3 {
    font-size: 1.1em;
}

#fb_comments_container #fb_comments h4, #fb_comments_container #fb_comments h5,
                          #fb_comments_container #fb_comments h6 {
    font-size: 1.05em;
}

#fb_comments_container #fb_comments .comment {
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    *border-bottom: 1px solid #f0f0f0;
}

#fb_comments_container #fb_comments .comment .avatar {
    position: absolute;
    top: 25px;
    left: 0;
    width: 50px;
    float: left;
}

#fb_comments_container #fb_comments .comment .avatar img {
    width: 48px;
    border: none;
    border-radius: 5px;
    margin: 0;
}

#fb_comments_container #fb_comments .comment .comment_body,
                              #fb_comments_container #fb_comments .comment .c_content {
    margin-left: 70px;
    display: block;
}

#fb_comments_container #fb_comments .comment .comment_body p,
                              #fb_comments_container #fb_comments .comment .c_content p {
    margin: 5px 0 15px 0;
    padding: 0;
    line-height: 1.8;
}

#fb_comments_container #fb_comments .comment .comment_body .author,
                              #fb_comments_container #fb_comments .comment .c_content .author {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

#fb_comments_container #fb_comments .comment .comment_body .author b,
                              #fb_comments_container #fb_comments .comment .c_content .author b {
    color: #555;
}

#fb_comments_container #fb_comments .comment .comment_body .author small,
                              #fb_comments_container #fb_comments .comment .c_content .author small {
    font-weight: normal;
    padding-left: 10px;
    font-size: 0.7em;
    color: #666;
}

#fb_new_comment {
    padding-bottom: 50px;
}

#fb_new_comment textarea {
    border-radius: 5px;
    height: 80px;
    width: 98%;
    padding: 5px;
    font-size: 1em;
    border: 1px solid rgba(150, 150, 150, 0.5);
    *border: 1px solid #a8a8a8;
    line-height: 1.5;
}

#fb_new_comment .comment_error {
    color: red;
    text-align: center;
    display: block;
    font-size: 0.8em;
    padding-top: 1em;
}

#fb_new_comment .c_button:hover {
    background: #E60900;
    color: #fff;
    text-decoration: none;
}

#fb_new_comment .c_button, #fb_new_comment #c_submit {
    cursor: pointer;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 5px 5px 2px 5px;
}

#fb_new_comment .input_body {
    margin-top: 10px;
}

#fb_new_comment .input_body ul {
    list-style: none;
    padding: 5px 0;
    margin: auto 0;
}

#fb_new_comment .input_body ul li {
    float: left;
    margin-right: 2.2%;
    *margin-right: 22px;
}

#fb_new_comment .input_body ul li label {
    line-height: 1em;
}

#fb_new_comment .input_body ul li input {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
}

#SwfStore_farbox_0 {
    height: 0;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    #fb_comments .c_content, #fb_comments .comment_body {
        margin-left: 57px;
    }
}

hr {
    margin: 2.2em 0;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}

h1, h2, h3 {
    font-weight: normal;
    color: #333;
}

h4 {
    color: #333;
}

h1 {
    line-height: 1.5em;
    margin-top: 1.2em;
}

h2, h3 {
    line-height: 1.5em;
    margin-top: 1.5em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

ul, ol {
    line-height: 2.1;
}

ul {
    padding: 5px 38px;
}

ul p, ol p {
    overflow: visible;
}

#content ul p, #content ol p {
    overflow: visible;
}

#posts .post ul p, #posts .post ol p {
    overflow: visible;
}

img {
    border: none;
}

ul li {
    padding: 0;
    margin: 0;
    line-height: 2.1em;
}

blockquote {
    color: #777;
    display: block;
    text-align: justify;
    border-left: 4px solid #eeeeee;
    margin: 1em 0;
    padding-left: 1.5em;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dddddd;
    border-left: 0;
    margin: 20px 0;
}

th, td {
    border-left: 1px solid #dddddd;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.p_part {
    margin: 15px 0;
}

code {
    border: 1px solid #e0e0e0;
    background: #F8F8F8;
    padding: 0 5px;
    margin: 0 2px;
    font-family: Menlo, monospace;
}

pre {
    border: 1px solid #e0e0e0;
    margin: 1.2em -2px;
    font-size: 13px;
    font-family: Menlo, monospace;
    line-height: 1.8em;
    display: block;
    overflow: auto;
    background: #F8F8F8;
    letter-spacing: 0;
}

pre p {
    margin: 0;
}

pre br {
    display: none;
}

@media (max-width: 480px) {
    code {
        padding: 0;
        margin: 0;
    }
}

pre code {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
